a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit
}

/* 
=== LAYOUT
*/

#home-bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#home-bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  filter: opacity();
}

.opaque {
  background: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  padding-bottom: 20px;
}

.right-arrow {
  justify-self: flex-end;
  margin-left: .3em;
}

.back-button {
  align-self: flex-start;
  border: none;
  background: none;
  margin: 10px;
  padding: 10px;
}

.back-button:focus {
  border: none;
}

ul {
  width: 100%;
  align-self: flex-start;
  list-style-type: none;
  padding-left: 0;
}

li.underline {
  border-bottom: 0.3px solid #707070;
}

.li-underline {
  display: flex;
  /* justify-content: space-between; */
  padding-bottom: 10px;
  color: inherit;
}

/* 
=== TYPOGRAPHY
*/

.header {
  font-family: "Helvetica Neue", Regular;
  font-size: 14px;
}

.home-message {
  font-size: 80px;
  font-family: "Helvetica Neue", Bold;
  align-self: baseline;
  backdrop-filter: blur(0px);
  margin: 15% 0;
}

h1 {
  font-family: "Helvetica Neue", Bold;
  align-self: flex-start;
}

.find-sitter-menu {
  font-family: "Helvetica Neue";
  font-weight: 700;
  font-size: 14px;
  color: #707070;
  padding: 17px;
  border-radius: 14px;
  align-self: stretch;
}

.dropdown,
.dropdown-time-container {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 25px;
  color: #000000;
}

.find-sitter-button {
  font-family: "Helvetica Neue";
  font-weight: 400;
  font-size: 25px;
  color: white;
  filter: opacity();
}

/* 
=== DESIGN
 */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 17px;
  border-radius: 14px;
  align-self: stretch;
}

.background-blur {
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(30px) brightness(115%);
}

.background-light-gray {
  background: rgba(112, 112, 112, 0.13);
}

.dropdown {
  background-color: white;
  border-radius: 8px;
  padding: 9px 13px;
  border: 1px solid white;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dropdown-time-container {
  display: flex;
  justify-content: space-between;
}

.dropdown-time-container hr {
  height: 3px;
  width: 20px;
  margin: auto 10px;
  background-color: #000000;
  border-width: 0;
}

.react-datepicker-wrapper {
  width: 100%;
}

.find-sitter-menu-label {
  margin-bottom: 12px;
  display: block;
}

.find-sitter-menu-section {
  margin-bottom: 35px;
}

.find-sitter-menu-section:last-child {
  margin-bottom: 10px;
}

.find-sitter-button {
  background-color: black;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 14px;
}

.ml-auto {
  margin-left: auto;
}

.invalid-time {
  border: 0.5px solid red;
  box-sizing: border-box;
}

.invalid-time-message {
  font-size: 60%;
  color: red;
  position: absolute;
  left: 5%;
  bottom: -40%;
}

.border-box {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border: .2px solid #707070;
  border-radius: 10px;
  padding: 10px;
  padding-right: 3em;
  box-sizing: border-box;
  margin-bottom: 1em;
}

.two-col-wrapper {
  display: flex;
  justify-content: space-between;
  
  flex-wrap: wrap;
}
.two-col-wrapper>* {
  flex: 0 0 50%;

}

a.phone-number {
  text-decoration: underline;
}